<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동물원 후기 리스트</title>
</head>
<body>
    <h1>동물원 후기 리스트</h1>
    <table border="">
        <thead>
            <tr>
                <th>No</th>
                <th>작성자</th>
                <th>제목</th>
                <th>등록일</th>
                <th>최애동물</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="zbl, b : ${zooBoardList}">
                <td th:text="${b.index+1}"></td>
                <td th:text="${zbl.writer}"></td>
                <td><a th:href="@{/board/detail/{id}(id=${zbl.no})}" th:text="${zbl.title}"></a></td>
                <td th:text="${#temporals.format(zbl.reg_Date, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text="${zbl.myanimal}"></td>
		 	 	<td><a th:href="@{/}"><button value="홈">홈으로</button></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>