<!DOCTYPE html>
<html xmls="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>req/orderForm</title>
<script>
	var kor = Math.random(1,100);
	var eng = Math.random(1,100);
	var mat = Math.random(1,100);
	
</script>
</head>
<body>
<h1>req/orderForm</h1>
<form action="" method="post">
	<table border="">
		<tr>
			<td>학생이름</td>
			<td>국어점수</td>
			<td>영어점수</td>
			<td>수학점수</td>
		</tr>
		<!--<tr th:each="no : ${#numbers.sequence(0,10,2)}">  0부터 시작해서 10을 포함해서까지 2씩 증가-->
		<tr th:each="no : ${#numbers.sequence(0,20)}">
			<td><input type="text" name="kname" value="${no+'사람'}"/></td>
			<td><input type="text" name="kor" value="1"/></td>
			<td><input type="text" name="eng" value="2"/></td>
			<td><input type="text" name="mat" value="3"/></td>
		</tr>
		<tr>
			<td rowspan="3">주소</td>
			<td>우편번호</td>
			<td><input type="text" name="ad.zipcode" value="12345"/></td>
		</tr>
		<tr>
			<td>기본주소</td>
			<td><input type="text" name="ad.addr1" value="서울"/></td>
		</tr>
		<tr>
			<td>상세주소</td>
			<td><input type="text" name="ad.addr2" value="논현동"/></td>
		</tr>
		<tr>
			<td colspan="3" align="center">
				<input type="submit" name="" value="결재"/>
			</td>
		</tr>

	</table>
</form>
</body>
</html>