<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>loginForm</title>
</head>
<body>
<h2>loginForm</h2>
<form action="loginReg" method="post">
	<table border="">
		<tr>
			<td>id</td>
			<td><input type="text" name="id" /></td>
		</tr>
		<tr>
			<td>password</td>
			<td><input type="text" name="pw" /></td>
		</tr>
		<tr>
			<td>password2</td>
			<td><input type="text" name="pw2" /></td>
		</tr>
		<tr>
			<td>pname</td>
			<td><input type="text" name="pname" /></td>
		</tr>
		<tr>
			<td>gender</td>
			<td><input type="text" name="gender" /></td>
		</tr>
		<tr>
			<td colspan="2"></td>
			<td><input type="submit" value="입력" /></td>
		</tr>
	</table>
</form>
</body>
</html>