<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>쿠키 - 로그인메인</title>
</head>

<body>
	<h1>쿠키 - 로그인메인</h1>
	<div th:if="${id!='없음'}">
		
		[[${pname}]]님 안녕하세요! <br/>
		id : [[${id}]] <br/>
		pname : [[${pname}]] <br/>
		pw : [[${pw}]] <br/>
		msg : [[${msg}]] <br/>
		<a href="delete">[로그아웃]</a>
		
	</div>
	<div th:unless="${id!='없음'}">
		
		<form action="loginReg">
			id<input type="text" name="id" />
			pw<input type="text" name="pw" />
			<input type="submit" value="로그인" />
		</form>
		
	</div>
	<!--<form action="" method="post">
		<table border="">
			<tr>
				<td>id</td>
				<td><input type="text" name="id" /></td>
			</tr>
			<tr>
				<td>pw</td>
				<td><input type="text" name="pw" /></td>
			</tr>
			<td colspan="2">
				<input type="submit" value="로그인" />
			</td>
		</table>
	</form>-->

</body>

</html>