<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>model/season</title>
<style>
	tr>td>img{
		width: 200px;
		height: 150px;
		margin: 20px;
	}
</style>
</head>
<body>
<h1>model/season</h1>
<table border="">
	<tr>
		<td width="500px">
			<table width="100%">
				<tr align="center">
					<!--<td th:each="md : ${hNav}">
						<a th:href="|?sn=${md.url}|" th:text="${md.txt}"/>
					</td>-->
					<th block th:replace="model/inc/header1" />
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<!--<td>
			<img th:each="mc : ${mainCt}" th:src="|/sn/${mc}|" alt="" />
		</td>-->
		<th block th:replace="model/inc/bbody1" />
	</tr>
	<tr>
		<td>
			<th:block layout:fragment="fff" />
		</td>
	</tr>
</table>

</body>
</html>